@import "../../style/variables.scss";

.appHeader {
  width: 1100px;
  height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32.81px;

  span {
    color: $main-color;
  }
}

.navLink {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 8px;

  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;

  .linkActive {
    color: $main-color;
  }
}
